{% extends 'base.html' %}
{% block title %} Tests {% endblock title %}
{% block content %}
    <main class="main">
        <div class="main__content">
            <div class="container">
                <div class="container__auth-message">
                    {% if user.is_authenticated %}
                        <p>Hi, {{ user.username }}</p>
                        <p><a href="{% url 'logout' %}">Log out</a></p>
                    {% else %}
                        <p>You are not logged in.</p>
                        <a href="{% url 'login' %}">Log In</a>
                        <a href="{% url 'signup' %}">Sign Up</a>
                    {% endif %}
                </div>
                <div class="main__title">
                    Список тестов:
                </div>
                <div class="main__body">
                    <div class="main__body_test-container">
                        {% for test in test_list %}
                            <a class="main__btn" href="{{ test.get_absolute_url }}">
                                {{ test.title }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
