{% extends 'base.html' %}
{% block title %} {{ test.title }} {% endblock title %}
{% block content %}
    <div class="header__content">
        <div class="container">
            <div class="header__title">
                <h1>{{ test.title }}</h1>
            </div>
            <div class="header__body">
                <h4>{{ test.description }}</h4>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="main__content">
            <div class="container">
                {% for question in test.questions.all %}
                    <div class="main__title">
                        <h2>{{ question.title }}</h2>
                    </div>
                    <div class="main__question">
                        <div class="main__question-left">
                            <a class="qst_btn" href="{{ question.answer }}">{{ question.question_variant_1 }}</a>
                        </div>
                        <div class="main__question-right">
                            <a class="qst_btn" href="#">{{ question.question_variant_2 }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}
